
.idea/.name

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

EDLab04.iml

.idea/dictionaries/ericcalasans.xml

.idea/kotlinc.xml

.idea/libraries/R_User_Library.xml

*.class

.idea/uiDesigner.xml

praticaMOD4_1.pdf

src/CalcGUI.form

src/CalcGUI.java
